
@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Admin Page</h2>

<h3>
    @(HttpContext.Current.User.Identity.IsAuthenticated == true ?
        Html.Label(string.Format("Welcome {0}", HttpContext.Current.User.Identity.Name)) : Html.Label("ASPNET"))
</h3>